{% extends 'base.html' %}
{% block title %}Informations{% endblock %}
    {% block content %}
    {% load static %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <span class="breadcrumb-item active">More</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-3"><span class="bg-secondary pr-3">Plus d informations</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-12 mb-5">
                <div class="note note-primary mb-5">
                    <strong>Note primary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div>
                  
                  <div class="note note-secondary mb-5">
                    <strong>Note secondary:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Cum doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus
                    delectus placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div>
                  
                  <div class="note note-success mb-5">
                    <strong>Note success:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div>
                  
                  <div class="note note-danger mb-5">
                    <strong>Note danger:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div>
                  
                  <div class="note note-warning mb-5">
                    <strong>Note warning:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div>
                  
                  <div class="note note-info mb-5">
                    <strong>Note info:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatum modi fugit eveniet asperiores aliquid dicta, aliquam nostrum ullam vel? Nesciunt expedita ea ab non?
                  </div>
                  
                  <div class="note note-light mb-5">
                    <strong>Note light:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?Lorem ipsum dolor
                     sit amet consectetur adipisicing elit. Tempore consectetur repudiandae saepe et repellendus maiores excepturi, dolorum laborum explicabo fuga. Quasi, repudiandae beatae?
                  </div>
                  
                  <div class="note note-dark text-secondary mb-0">
                    <strong>Note light:</strong> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
                    doloremque officia laboriosam. Itaque ex obcaecati architecto! Qui necessitatibus delectus
                    placeat illo rem id nisi consequatur esse, sint perspiciatis soluta porro?
                  </div> 
            </div>
        </div>
    </div>    
    <div class="d-flex justify-content-center mx-xl-5">
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-whatsapp"></i></a>
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-google"></i></a>
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-primary btn-square mr-5" href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <!-- Contact End -->
{% endblock %}